.resume {
  font-family: 'PT Serif', serif;
}
.name {
  font-family: 'Playfair Display', serif;
}
.contact-info {
  font-family: 'Playfair Display', serif;
}
.section {
  border-top: 3px solid #34517D;
}
.organization {
  color: #34517D;
}