<form *ngIf="resumeData" class="space-y-2">
  <div class="flex gap-2 items-center">
    <label class="block font-medium mb-1 w-xs">Name</label>
    <input class="w-full border rounded px-3 py-2" [(ngModel)]="resumeData.personalInfo.name" name="name" />
  </div>
  <div class="flex gap-2 items-center">
    <label class="block font-medium mb-1 w-xs">Summary</label>
    <input class="w-full border rounded px-3 py-2" [(ngModel)]="resumeData.personalInfo.summary" name="summary" />
  </div>
  <div class="flex gap-2 items-center">
    <label class="block font-medium mb-1 w-xs">Location</label>
    <input class="w-full border rounded px-3 py-2" [(ngModel)]="resumeData.personalInfo.location" name="location" />
  </div>
  <div class="flex gap-2 items-center">
    <label class="block font-medium mb-1 w-xs">Phone Number</label>
    <input class="w-full border rounded px-3 py-2" [(ngModel)]="resumeData.personalInfo.phoneNumber" name="phoneNumber" />
  </div>
  <div class="flex gap-2 items-center">
    <label class="block font-medium mb-1 w-xs">Email Address</label>
    <input class="w-full border rounded px-3 py-2" [(ngModel)]="resumeData.personalInfo.emailAddress" name="emailAddress" />
  </div>
  <div class="flex gap-2 items-center">
    <label class="block font-medium mb-1 w-xs">LinkedIn Url</label>
    <input class="w-full border rounded px-3 py-2" [(ngModel)]="resumeData.personalInfo.linkedinLink" name="linkedinLink" />
  </div>
  <div class="block font-medium mb-1 w-xs">Resume Sections</div>
  <div *ngIf="resumeData.resumeSections" dndDropzone (dndDrop)="onDrop($event)">
    <div *ngFor="let section of resumeData.resumeSections; let i = index"
      class="flex gap-2 items-center my-2"
      [dndDraggable]="i"
      (dndStart)="onDragStart(i)"
      (dndEnd)="onDragEnd()"
      [style.display]="draggingIndex === i ? 'none' : ''">
      <div dndHandle><mat-icon>drag_handle</mat-icon></div>
      <input class="w-full border rounded px-3 py-2" [(ngModel)]="section.title" [name]="section.title" />
      <button class="cursor-pointer rounded-md px-5 py-2 font-medium border border-black shadow" (click)="onEditSection(i)">Edit</button>
    </div>
    <div class="w-full rounded bg-gray-200 h-10 my-2" dndPlaceholderRef></div>
  </div>
</form>