<div class="resume grid place-items-center" *ngIf="resumeData">
  <div class="name mb-1">
    <ng-container *ngFor="let name of names; let i = index">
      <span *ngIf="i !== 0">&nbsp;&nbsp;&nbsp;</span>
      <span class="text-5xl">{{ name[0] | uppercase }}</span>
      <span class="text-4xl">{{ name[1] | uppercase }}</span>
    </ng-container>
  </div>
  <div *ngIf="resumeData.summary" class="mb-1">{{ resumeData.summary }}</div>
  <div class="contact-info mb-1">
    {{ resumeData.contactInfo.location }}&nbsp;&nbsp;&#x2022;&nbsp;&nbsp;
    {{ resumeData.contactInfo.phoneNumber }}&nbsp;&nbsp;&#x2022;&nbsp;&nbsp;
    {{ resumeData.contactInfo.emailAddress }}
  <!-- </div>
  <div class="contact-info"> -->
    <span *ngIf="resumeData.contactInfo.linkedinLink">&nbsp;&nbsp;&#x2022;&nbsp;&nbsp;<a href="resumeData.contactInfo.linkedinLink" target="blank">{{ resumeData.contactInfo.linkedinLink }}</a></span>
    <!-- <span *ngIf="resumeData.contactInfo.githubLink">&nbsp;&nbsp;&#x2022;&nbsp;&nbsp;<a href="resumeData.contactInfo.githubLink" target="blank">{{ resumeData.contactInfo.githubLink }}</a></span> -->
  </div>
  <ng-container *ngFor="let section of resumeData.formattingOptions?.order">
    <ng-container *ngIf="section === 'skills'">
      <div class="section p-1 w-full text-sm">
        <div class="text-lg font-bold">SKILLS</div>
        <ul class="list-disc ml-12">
          <div *ngFor="let skillSection of resumeData.skills">
            <li><span class="font-bold">{{ skillSection.title }}</span>: {{ skillSection.skills }}</li>
          </div>
        </ul>
      </div>
    </ng-container>
    <ng-container *ngIf="section === 'education'">
      <div class="section p-1 w-full text-sm">
        <div class="text-lg font-bold">EDUCATION</div>
        <div class="mb-1" *ngFor="let school of resumeData.education">
          <div class="flex justify-between">
            <div class="bold">{{ school.name }}</div>
            <div>{{ school.dates }}</div>
          </div>
          <div class="flex justify-between italic">
            <div>{{ school.degree }}</div>
            <div>{{ school.location }}</div>
          </div>
          <ul class="list-disc ml-12">
            <li *ngFor="let bullet of school.bullets">{{ bullet }}</li>
          </ul>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="section === 'experience'">
      <div class="section p-1 w-full text-sm" *ngFor="let experienceSection of resumeData.experienceSections">
        <div class="text-lg font-bold">{{ experienceSection.title | uppercase }}</div>
        <div class="mb-1" *ngFor="let experience of experienceSection.experiences">
          <div class="flex justify-between">
            <div class="bold">{{ experience.organization }}</div>
            <div>{{ experience.dates }}</div>
          </div>
          <div class="flex justify-between italic">
            <div>{{ experience.title }}</div>
            <div>{{ experience.location }}</div>
          </div>
          <ul class="list-disc ml-12">
            <li *ngFor="let bullet of experience.bullets">{{ bullet }}</li>
          </ul>
          <div *ngFor="let bolded of experience.bolded" class="ml-6 font-bold">{{ bolded }}</div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <!-- <div class="section p-1 w-full text-sm" *ngIf="resumeData.languages">
    <div class="text-lg font-bold">LANGUAGES</div>
    <ul class="list-disc ml-12">
      <li *ngFor="let language of resumeData.languages">{{ language.name }}: {{ language.level }}</li>
    </ul>
  </div> -->
</div>
