<div class="max-w-6xl mx-auto">  
  <div class="flex h-screen">
    <div class="m-auto max-h-[90vh] overflow-y-auto">
      <div class="flex justify-end gap-2 mr-2 mb-2">
        <button class="cursor-pointer bg-blue-600 text-white rounded-md px-5 py-2 font-medium shadow transition hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400">Save</button>
        <button class="cursor-pointer bg-blue-600 text-white rounded-md px-5 py-2 font-medium shadow transition hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400">Save As</button>
      </div>
      <div class="max-w-4xl">
        edit fields go here
      </div>
    </div>
  </div>
</div>